div.board-title {
    display: flex;
    justify-content: space-around;
    border: #4f4f4f solid 0.5px;
    line-height: 30px;
}
div.board {
    margin: 50px;
    height: 500px;
    width: 850px;
}
.center {
    text-align: center;
}
input[readonly] {
    border: none;
    text-align: center;
}
a {
    color: black;
    text-decoration-line: none;
}
a:hover {
    text-decoration: underline;
}
.posting-detail {
    display: flex;
    justify-content: space-around;
}
.posting-content {
    width: 850px;
    padding-left: 110px;
    padding-top: 50px;
}