{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {% block title %}
    <title>title</title>
    {% endblock %}

    {% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{% static 'js/board.js' %}"></script>
    {% endblock %}
</head>
<body>
    <div class="board">
        <h2 class="center">게시글 작성</h2>
        <div >
            <table>
                <tr></tr>
                <tr>
                    <th>제목</th>
                    <td><input type="text" name="title" value=""></td>
                </tr>
                <tr>
                    <th>작성자</th>
                    <td><input type="text" name="writer" value=""></td>
                </tr>
                <tr>
                    <th>내용</th>
                    <td><input type="text" name="content" value=""></td>
                </tr>
            </table>
        </div>
    </div>
</body>